<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
  <dict>
    <!-- 名称，要全局唯一 -->
    <key>Gavin_Clear_RAM</key>
    <string>com.xxxxx.xxxx.ram</string>

    <!-- 要运行的程序路径  -->
    <key>Program</key>
    <string>/Users/xxxx/xxxxx/xxxxx/clear.sh</string>

    <!-- 运行间隔，与StartCalenderInterval使用其一，单位为秒 -->
    <key>StartInterval</key>
    <integer>300</integer>

    <!-- 标准输入文件 -->
    <key>StandardInPath</key>
    <string>/Users/xxxx/xxxx/run-in.log</string>

    <!-- 标准输出文件 -->
    <key>StandardOutPath</key>
    <string>/Users/xxxx/xxxx/run-out.log</string>

    <!-- 标准错误输出文件 -->
    <key>StandardErrorPath</key>
    <string>/Users/xxxx/xxxx/run-err.log</string>

  </dict>  
</plist>
